@charset "UTF-8";

// Angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

[ng-click] {
  cursor: pointer;
}

body {
  background-color: #e7e7e7;
}

.Container {
  .to-rem(padding-left, 20);
  .to-rem(padding-right, 20);
}

.Strip {
  .to-rem(padding-top, 44);
  .to-rem(padding-bottom, 44);
}

//
// Icon font
//
@import (less)"../public/build/fontello/fontello.css.tmp";
//
// Variables
//
@import "../bower_components/cardinal/core/variables";
@import "variables";
//
// Mixins
//
@import "../bower_components/cardinal/core/mixins/clearing";
@import "../bower_components/cardinal/core/mixins/momentum-scrolling";
@import "../bower_components/cardinal/core/mixins/text-truncate";
@import "../bower_components/cardinal/core/mixins/to-rem";
@import "../bower_components/cardinal/core/mixins/vertically-centered";
//
@import "mixins/to-em";
@import "mixins/link-color";
//
// Reset
//
@import "../bower_components/cardinal/core/normalize";
@import "../bower_components/cardinal/core/reset";
//
// Core
//
@import "../bower_components/cardinal/core/base/root";
@import "base/root";
@import "../bower_components/cardinal/core/base/anchors";
@import "../bower_components/cardinal/core/base/lists";
@import "../bower_components/cardinal/core/base/print";
@import "../bower_components/cardinal/core/base/selections";
@import "../bower_components/cardinal/core/base/headings";
@import "../bower_components/cardinal/core/base/tables";
//
// Components
//
@import "components/Nav";
@import "components/RequestCard";
@import "components/Hero";
@import (less)"../bower_components/angular-toastr/dist/angular-toastr.css";