<div class="Breadcrumbs">
  <div class="Breadcrumbs-container">
    <a class="Breadcrumbs-link" href="/requests">Requests</a> /
    <a class="Breadcrumbs-link" href="/requests/new">New Request</a> / Graphics
  </div>
</div>

<div class="Hero Hero--white">
  <img class="Hero-image" src="//assets.faithpromise.192.168.10.10.xip.io/images/requests/graphics-wide.jpg">

  <div class="Hero-container">
    <div class="Hero-content">
      <h1 class="Hero-title">Hi Brandon. Let’s Make Something Superfly!</h1>
      <p class="Hero-text">We’re excited about helping you take your project to the next level!</p>
    </div>
  </div>
</div>

<form class="StepForm">

  <div class="StepForm-section">
    <div class="StepForm-fieldset">
      <h2 class="StepForm-legend">What's cookin'?</h2>

      <div class="StepForm-fields">
        <div class="StepForm-group">
          <label class="StepForm-label">What’s the name of your event or project?</label>
          <input class="StepForm-input" type="text" placeholder="e.g. &quot;Haiti Trip,&quot; &quot;Kids Camp&quot;">
        </div>
        <div class="StepForm-group">
          <label class="StepForm-label">When is your event (if applicable)?</label>
          <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016">
        </div>
      </div>
    </div>
  </div>

  <div class="StepForm-section">
    <div class="StepForm-fieldset">
      <h2 class="StepForm-legend">
        How can we help?
        <span class="StepForm-legendHelp">Check what you need, then scroll down and give us a few details...</span>
      </h2>

      <div class="StepForm-fields">
        <ul class="StepForm-checkboxList">
          <li class="StepForm-checkboxItem" ng-repeat="item in vm.items" ng-click="vm.toggle_item(item)">
            <i class="StepForm-checkbox icon-check-empty" ng-hide="vm.is_item_selected(item.slug)"></i>
            <i class="StepForm-checkbox icon-check" ng-show="vm.is_item_selected(item.slug)"></i>
            {{ item.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="slide-toggle" ng-show="vm.is_item_selected('invite_card')">
    <div class="StepForm-section">
      <div class="StepForm-fieldset">
        <h2 class="StepForm-legend">Tell us about your <strong>invite card</strong></h2>

        <div class="StepForm-fields">
          <div class="StepForm-group">
            <label class="StepForm-label">How many do you need?</label>
            <input class="StepForm-input StepForm-input--number" type="text" placeholder="e.g. 100">
            test
          </div>
          <div class="StepForm-group">
            <label class="StepForm-label">When do you need it delivered?</label>
            <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-toggle" ng-show="vm.is_item_selected('flyer')">
    <div class="StepForm-section">
      <div class="StepForm-fieldset">
        <h2 class="StepForm-legend">Tell us about your <strong>flyer</strong></h2>

        <div class="StepForm-fields">
          <div class="StepForm-group">
            <label class="StepForm-label">How many do you need?</label>
            <input class="StepForm-input StepForm-input--number" type="text" placeholder="e.g. 100" ng-bind="vm.selected_items.flyer.quantity">
          </div>
          <div class="StepForm-group">
            <label class="StepForm-label">When do you need it delivered?</label>
            <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016" ng-bind="vm.selected_items.flyer.deliver_by">
          </div>
          <div class="StepForm-group">
            <label class="StepForm-label">What should it say?</label>
            <textarea class="StepForm-textarea" ng-bind="vm.selected_items.flyer.deliver_by"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="StepForm-submitSection" ng-show="vm.has_items_selected()">
    <button class="StepForm-submit" type="submit">Send Your Request <i class="icon-right-open"></i></button>
  </div>
</form>