<div class="Breadcrumbs">
  <div class="Breadcrumbs-container">
    <a class="Breadcrumbs-link" href="/requests">Requests</a> /
    <a class="Breadcrumbs-link" href="/requests/new">New Request</a> / Graphics
  </div>
</div>

<div class="Hero Hero--white">
  <img class="Hero-image" src="//faithpromise.192.168.10.10.xip.io/xl/full/images/requests/graphics-wide.jpg">

  <div class="Hero-container">
    <div class="Hero-content">
      <h1 class="Hero-title">Hi {{ user.first_name }}. Let’s Make Something Superfly!</h1>
      <p class="Hero-text">We’re excited about helping you take your project to the next level!</p>
    </div>
  </div>
</div>

<form class="StepForm" name="request_form" ng-submit="vm.submit()" novalidate>

  <div class="StepForm-section">
    <div class="StepForm-fieldset">
      <h2 class="StepForm-legend">What's cookin'?</h2>

      <div class="StepForm-fields">
        <div class="StepForm-group">
          <label class="StepForm-label" ng-model="vm.subject">What’s the name of your event or project?</label>
          <input class="StepForm-input" type="text" placeholder="e.g. &quot;Haiti Trip,&quot; &quot;Kids Camp&quot;">
        </div>
        <div class="StepForm-group">
          <label class="StepForm-label">When is your event (if applicable)?</label>
          <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016" ng-model="vm.event_date">
        </div>
      </div>
    </div>
  </div>

  <div class="StepForm-section">
    <div class="StepForm-fieldset">
      <h2 class="StepForm-legend">
        How can we help?
        <span class="StepForm-legendHelp">Check what you need, then scroll down and give us a few details...</span>
      </h2>

      <div class="StepForm-fields">
        <ul class="StepForm-checkboxList">
          <li class="StepForm-checkboxItem" ng-repeat="(key, item) in vm.items" ng-click="vm.toggle_item(item)">
            <i class="StepForm-checkbox icon-check-empty" ng-hide="item.selected"></i>
            <i class="StepForm-checkbox icon-check" ng-show="item.selected"></i>
            {{ item.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="slide-toggle ng-hide" ng-show="vm.items.invite_card.selected">
    <div class="StepForm-section">
      <div class="StepForm-fieldset">
        <h2 class="StepForm-legend">Tell us about your <strong>invite card</strong></h2>

        <div class="StepForm-fields">
          <div class="StepForm-group">
            <label class="StepForm-label">When do you need it delivered?
              <span class="StepForm-required">*</span></label>
            <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016" ng-model="vm.items.invite_card.deliver_by">
            <delivery-dates
                    dates="vm.helper_dates"
                    event-date="vm.event_date"
                    exclude="invite_card"
                    deliver-by="vm.items.invite_card.deliver_by">
            </delivery-dates>
          </div>
          <div class="StepForm-group">
            <label class="StepForm-label">What should your invite card say?</label>
            <textarea class="StepForm-textarea" ng-model="vm.items.invite_card.description"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="slide-toggle ng-hide" ng-show="vm.items.flyer.selected">
    <div class="StepForm-section">
      <div class="StepForm-fieldset">
        <h2 class="StepForm-legend">Tell us about your <strong>flyer</strong></h2>

        <div class="StepForm-fields">
          <div class="StepForm-group">
            <label class="StepForm-label">When do you need it delivered?
              <span class="StepForm-required">*</span></label>
            <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016" ng-model="vm.items.flyer.deliver_by" required>
            <delivery-dates
                    dates="vm.helper_dates"
                    event-date="vm.event_date"
                    exclude="flyer"
                    deliver-by="vm.items.flyer.deliver_by">
            </delivery-dates>

          </div>
          <div class="StepForm-group">
            <label class="StepForm-label">What should it say?</label>
            <textarea class="StepForm-textarea" ng-attr-placeholder="{{ vm.event_date ? 'Be sure to include dates and times.' : '' }}" ng-model="vm.items.flyer.description"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-toggle ng-hide" ng-show="vm.items.t_shirt.selected">
    <div class="StepForm-section">
      <div class="StepForm-fieldset">
        <h2 class="StepForm-legend">Tell us about your <strong>T-Shirt</strong></h2>

        <div class="StepForm-fields">
          <div class="StepForm-group">
            <label class="StepForm-label">When do you need it delivered?
              <span class="StepForm-required">*</span></label>
            <input class="StepForm-input StepForm-input--date" type="date" placeholder="e.g. 3/21/2016" ng-model="vm.items.t_shirt.deliver_by" required>
            <delivery-dates
                    dates="vm.helper_dates"
                    event-date="vm.event_date"
                    exclude="t_shirt"
                    deliver-by="vm.items.t_shirt.deliver_by">
            </delivery-dates>
            <!-- TODO: Show date and alert if under x weeks -->
            Please allow 5 weeks
          </div>
          <div class="StepForm-group">
            <label class="StepForm-label">Briefly describe your t-shirt idea.</label>
            <textarea class="StepForm-textarea" ng-model="vm.items.t_shirt.description"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="StepForm-submitSection" ng-show="vm.has_items_selected()">
    <button class="StepForm-submit" type="submit">Send Your Request <i class="icon-right-open"></i></button>
  </div>
</form>
