.Auth-wrap {
  display:        flex;
  flex-direction: column;
  width:          100%;
  height:         100vh;
}

.Auth-hero {
  flex-grow:       1;
  background:      #1d1d1d url(//d16gqslxckkrrx.cloudfront.net/xl/full/images/general/login.jpg) center center no-repeat;
  background-size: cover;
  border-bottom:   7px solid rgba(255, 255, 255, 0.24);
}

.Auth-banner {
  display:         flex;
  align-items:     center;
  justify-content: center;
  min-height:      160px;
  padding:         30px 20px;
  background:      #000;
  color:           #b5b5b5;

  @media (min-width: 621px) {
    padding: 20px 80px;
  }
}

.Auth-logoWrap {
  flex-grow: 1;
  @media (max-width: 620px) {
    display: none;
  }
}

.Auth-logo {
  height: 75px;
  width:  75px;
  fill:   @Nav-text-color;
}

.Auth-content {
  max-width: 340px;

  @media (min-width: 621px) {
    padding-left: 30px;
  }
}

.Auth-button {
  display:          inline-block;
  padding:          0 20px;
  line-height:      50px;
  border:           none;
  border-radius:    5px;
  background-color: #778067;
  color:            #fff;
  font-style:       italic;
  white-space:      nowrap;
  text-decoration:  none;

  &:hover {
    background-color: lighten(#778067, 10);
    text-decoration:  none;
  }
}

.Auth-register {
  display:        flex;
  flex-direction: column;
}

.Auth-registerForm {
  display:   flex;
  flex-wrap: wrap;
}

.Auth-email,
.Auth-domain,
.Auth-registerButton {
  font-size: 1rem;
}

.Auth-email {
  flex:          1 1 0;
  border:        none;
  border-radius: 5px 0 0 5px;
  padding:       0 2px 0 10px;
  line-height:   50px;
  text-align:    right;
  background:    #fff;
  color:         #434343;

  &:focus {
    outline: none !important;
  }
}

.Auth-domain {
  display:     inline-block;
  padding:     0 10px 0 0;
  line-height: 50px;
  text-align:  right;
  background:  #fff;
  color:       #9c9c9c;

  @media (max-width: 380px) {
    border-radius: 0 5px 5px 0;
  }
}

.Auth-registerButton {
  &:extend(.Auth-button);
  border-radius:    0 5px 5px 0;
  background-color: #1399e3;

  @media (max-width: 380px) {
    width:         100%;
    margin-top:    20px;
    border-radius: 5px;
  }
}