@StepForm-font-size: 16;
@StepForm-input-font-size: 16;
@StepForm-input-height: 60;
@StepForm-legend-font-size: 27;

.slide-toggle {
  overflow:   hidden;
  transition: height .5s;
}

.StepForm {
  .to-em(font-size, @StepForm-font-size, @font-size);
}

.StepForm-section {

  .to-em(padding, 90, @StepForm-font-size);
  border-bottom:    1px solid #e6e6e6;

  background-color: #fff;
  &:nth-child(even) {
    background-color: #fff;
  }

}

.StepForm-submitSection {
  .to-em(padding, 90, @StepForm-font-size);
  text-align:       center;
  background-color: #fff;
}

.StepForm-submit {
  &:extend(.Button all);
  &:extend(.Button--primary all);
  .to-em(font-size, 28, @StepForm-font-size);
  .to-em(padding, 23 34, 28);
  border-radius: 8px;
  font-weight:   normal;

  > i {
    vertical-align: middle;
  }
}

.StepForm-fieldset {
  .clearfix();
  .to-em(max-width, 840, @StepForm-font-size);
  margin: 0 auto;
}

.StepForm-legend {
  .antialiasing();
  .to-em(font-size, @StepForm-legend-font-size, @StepForm-font-size);
  .to-em(margin-top, 6, @StepForm-legend-font-size);
  .to-em(padding-right, 40, @StepForm-legend-font-size);
  display:        block;
  float:          left;
  width:          40%;
  line-height:    1;
  text-transform: uppercase;
  font-weight:    normal;
  color:          #6d6d6d;

  > strong {
    .to-em(font-size, 38, @StepForm-legend-font-size);
    font-weight: @font-weight-myriad-semi-bold;
    white-space: nowrap;
  }
}

.StepForm-legendHelp {
  .to-em(font-size, 16, @StepForm-legend-font-size);
  .to-em(margin, 6 0, 16);
  line-height:    1.2;
  display:        block;
  text-transform: none;
}

.StepForm-fields {
  float: left;
  width: 60%;
}

.StepForm-group {
  .to-em(margin-bottom, 40, @StepForm-font-size);
}

.StepForm-label {
  .antialiasing();
  .to-em(font-size, 20, @StepForm-font-size);
  .to-em(margin-bottom, 5, 20);
  display:     block;
  color:       #4c4c4c;
  user-select: none;

  &:after {
    content: '\A';
  }
}

.StepForm-required {
  color: red;
}

.StepForm-input,
.StepForm-select,
.StepForm-textarea {
  .to-em(font-size, @StepForm-input-font-size, @StepForm-font-size);
  .to-em(margin-bottom, 10, @StepForm-input-font-size);
  .to-em(height, @StepForm-input-height, @StepForm-input-font-size);
  .to-em(padding, 8 12, @StepForm-input-font-size);
  .to-em(border, @form-input-border-width, @StepForm-input-font-size);
  display:       inline-block;
  width:         100%;
  border-style:  @form-input-border-style;
  border-color:  @form-input-border-color;
  border-radius: 6px;
  line-height:   @form-input-line-height;
  color:         @form-input-text-color;
  outline:       0 none;
  &:focus {
    border-color: @form-input-focus-border-color;
    outline:      0 none;
  }
}

.StepForm-input--date {
  .to-em(max-width, 200, @StepForm-input-font-size);
}

.StepForm-input--number {
  .to-em(max-width, 100, @StepForm-input-font-size);
}

.StepForm-textarea {
  .to-em(height, 120, @StepForm-font-size)
}

.StepForm-checkboxList {
  .to-rem(margin, 0 0 0 -10);
  padding:    0;
  list-style: none;
  font-size:  @font-size-0;
}

.StepForm-checkboxItem {
  .antialiasing();
  .to-rem(font-size, 20);
  .to-em(margin, 0 0 20, 20);
  .to-rem(padding-left, 10);
  display:        inline-block;
  width:          33.3333333%;
  vertical-align: middle;
  white-space:    nowrap;
  overflow:       hidden;
  text-overflow:  ellipsis;
  cursor:         pointer;
  user-select:    none;
}

.StepForm-checkbox {
  vertical-align: middle;

  &.icon-check {
    color: @anchor-text-color;
  }
}

.RequestForm-presets {
  display:     inline-block;
  margin-left: .5em;
}